APP_NAME=Laras API
PORT=8080
DATABASE_URL=host=postgres user=laras password=laras dbname=laras port=5432 sslmode=disable TimeZone=Asia/Jakarta
JWT_SECRET=please-change-this-secret
STORAGE_DIR=/data/music
PUBLIC_URL=http://localhost:8080
